.frostcraft-banner {
    background-image: url('/images/fc-jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10%
    padding-bottom: 10%;
    min-height: 300px;
}

.thumbsup-banner {
    background-image: url('/images/frostelf-thumbsup.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%
    padding-bottom: 10%;
}

.frostcraft-alt-jumbotron {
    background-color: #AAAAAA;
}

.frostcraft-footer {
    background-color: #DDDDDD;

}