---
---
{% include header.html %}
<div class="container">
    <div class="jumbotron thumbsup-banner text-white bg-primary">
        <h1>Discord</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h4>Joining</h4></div>
                    <div class="card-text">
                        <p>Much of our communication happens over discord, use the invite below to join our discord
                            chat.<br/>
                            You can use the following link to join: <a href="https://discord.com/invite/T27HHvp">https://discord.com/invite/T27HHvp</a>
                            or click the Join Discord button below.
                        </p>
                        <a class="btn btn-primary btn-lg" href="https://discord.com/invite/T27HHvp">Join Discord</a>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h4>Discord Ranks</h4></div>
                    There are several ranks on discord including:
                    <ul>
                        <li><strong>Moderators</strong> moderators of our discord chat.</li>
                        <li><strong>Verified players</strong> verified players of one of our hosted game servers.</li>
                        <li><strong>Members</strong> unranked members of the server</li>
                    </ul>
                        <br/>To become a verified player, you must be a player of one of our hosted game servers.
                        Message a moderator to confirm your verified status and obtain this rank.
                        <div class="card-body">
                            <br/>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
