---
page-name: index
---
{% include header.html %}
<div class="container">
    <div class="jumbotron frostcraft-banner"></div>
</div>

<div class="container">
    <br/>
    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>About us</h1>
            <p>We are a gaming community that has been around since 2012. Primarily we've hosted a Minecraft server, but
                we may occasionally try other games too. Some different things we've tried over the years have been
                Minecraft (factions, feed the beast, our custom magic server, un-modded), and recently Vintage Story.</p>
        </div>
    </div>

    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Vintage Story Server (Active)</h1>
            <p>Vintage story is a mostly un-modified server except for a discord chat integration. You can check the
                game out at <a href="https://www.vintagestory.at/">https://www.vintagestory.at/</a></p>
            <br/>
            Server address: <b>vs.frostcraft.com</b>
        </div>
    </div>
    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Minecraft Magic Server (Inactive)</h1>
            <p>Our Minecraft magic server which is driven by a custom coded plugin. On the server are classes, professions, magic
                spells, and much more.</p>
            <br/>
            Server address: <b>mc.frostcraft.com</b>
        </div>
    </div>

    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Minecraft Mod-Pack Server (Inactive)</h1>
            <p>Our Minecraft mod-pack server where we've hosted packs such as Feed the Beast.</p>
            <br/>
            Server address: <b>mod.frostcraft.com</b>
        </div>
    </div>

    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Minecraft Creative Server (Inactive)</h1>
            <p>Our Minecraft creative server where we've hosted creative mode.</p>
            <br/>
            Server address: <b>creative.frostcraft.com</b>
        </div>
    </div>

</div>
{% include footer.html %}
