---
---
{% include header.html %}
<div class="container">
    <div class="jumbotron frostcraft-banner"></div>
</div>

<div class="container">
    <br/>
    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>About us</h1>
            <p>We are a gaming community that has been around since 2012. Primarily we've hosted a Minecraft server, but
                we may occasionally try other games too. Some different things we've tried over the years have been
                Minecraft (factions, feed the beast, custom magic server), and recently Vintage story.</p>
        </div>
    </div>

    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Vintage Story Server</h1>
            <p>Vintage story is a mostly un-modified server except for a discord chat integration. You can check the
                game out at <a href="https://www.vintagestory.at/">https://www.vintagestory.at/</a></p>
            <br/>
            Server address: <b>vs.frostcraft.com</b>
        </div>
    </div>
    <div class="card flex-md-row mb-4">
        <div class="card-body">
            <h1>Minecraft Magic Server</h1>
            <p>The Minecraft magic server is driven by a custom plugin. On the server are classes, professions, magic
                spells, and much more.</p>
            <br/>
            Server address: <b>mc.frostcraft.com</b>
        </div>
    </div>

</div>
{% include footer.html %}
