---
page-name: lore
---
{% include header.html %}
<div class="container">
    <div class="jumbotron text-white bg-primary">
        <h1>FrostCraft Lore, Stories and History</h1>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-title"><h4>History of the World</h4></div>
                            <div class="card-text">
                                <p>This book details a summarized history of the early FrostCraft world and how various events took place.</p>
                                <a class="btn btn-primary btn-lg" target="_blank" href="/files/FrostCraft - History of the World.pdf">Download Book</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="rounded float-right" src="/images/fc-history-book-cover.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex mb-4">
                <div class="card">
                    <div class="card-body">
                                <div class="card-title"><h4>Images</h4></div>
                                <div class="card-text">
                                    <p>A collection of images over the years from different servers we've hosted. Images are in an album on Imgur.</p>
                                    <a class="btn btn-primary btn-lg" target="_blank" href="https://imgur.com/a/qW7fS4p">View on Imgur</a>

                                </div>
                        </div>
                </div>
        </div>
</div>
</div>
{% include footer.html %}
