---
page-name: projects
---
{% include header.html %}
<div class="container">
    <div class="jumbotron text-white bg-primary">
        <h1>Projects on GitHub</h1>
    </div>
    <p>We have projects on GitHub to view, download, or contribute to. Check our some of the projects listed below to
        learn more.</p>
    <div class="row">
        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Discord, Frostica Adventure Bot</h6></div>
                    A role-playing game for discord which takes place on the continent of Frostica. Explore the land, craft, and survive. Overall, its a game about survival and does not follow the traditional RPG path of things such as treasure chests, monsters, shops, NPCs, etc. It's more about surviving in the land and crafting the things you need. <br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/Frostica-Adventure-Bot">GitHub Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, FrostCraft Resource Pack</h6></div>
                    This is a custom resource pack for mc.frostcraft.com which includes the magic wand model. The included python script is used to build the pack.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" class="btn btn-primary" target="_blank" role="button" href="https://github.com/Frostcraft/ResourcePack">GitHub Project</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, FrostRenamer Plugin</h6></div>
                    This is a Minecraft Bukkit plugin which allows you to rename items. Color code support is included as well as a color code guide.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/FrostRenamer">GitHub Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, FrostHealth Plugin</h6></div>
                    A minecraft Bukkit plugin which shows player health above names.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/FrostHealth">GitHub Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, Template Plugin</h6></div>
                    This is a template which can be used as a starting point to create a new Bukkit plugin.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/FrostTemplate">GitHub Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, SilentJoin Plugin</h6></div>
                    This is a Minecraft Bukkit plugin which can hide the server join and quit messages for players with appropriate permissions. You will need to either be OP or have the appropriate permissions for your join and quit messages to be hidden with this plugin.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/SilentJoin">GitHub Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>Minecraft, FrostWolf Plugin</h6></div>
                    This is a Minecraft Bukkit plugin which allows players on a server to turn into a FrostWolf. FrostWolves are creatures which gain special abilities during the night.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/FrostWolf">GitHub Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>MineTest, Simple Item Display</h6></div>
                    Mintest Simple Item Display is fork of WiTT(What is This Thing). This is a Minetest mod that displays the name of the node you are looking at when you are near it.<br/><br/>
                    <a class="btn btn-primary" target="_blank" role="button" href="https://github.com/FrostMiser/Minetest-Simple-Item-Display">GitHub Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
