---
page-name: projects
---
{% include header.html %}
<div class="container">
    <div class="jumbotron text-white bg-primary">
        <h1>Projects on GitHub</h1>
    </div>
    <p>We have projects on GitHub to view, download, or contribute to. Check our some of the projects listed below to
        learn more.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Minecraft, FrostCraft Resource Pack</div>
                    <a href="https://github.com/Frostcraft/ResourcePack">https://github.com/Frostcraft/ResourcePack</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Minecraft, FrostRenamer Plugin</div>
                    <a href="https://github.com/FrostMiser/FrostRenamer">https://github.com/FrostMiser/FrostRenamer</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Minecraft, FrostHealth Plugin</div>
                    <a href="https://github.com/FrostMiser/FrostHealth">https://github.com/FrostMiser/FrostHealth</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Minecraft, Template Plugin</div>
                    <a href="https://github.com/FrostMiser/FrostTemplate">https://github.com/FrostMiser/FrostTemplate</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Minecraft, SilentJoin Plugin</div>
                    <a href="https://github.com/FrostMiser/SilentJoin">https://github.com/FrostMiser/SilentJoin</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">MineTest, Simple Item Display</div>
                    <a href="https://github.com/FrostMiser/Minetest-Simple-Item-Display">https://github.com/FrostMiser/Minetest-Simple-Item-Display</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
